body {
  background: radial-gradient(
    939px at 94.7% 50%,
    rgb(0, 178, 169) 0%,
    rgb(0, 106, 101) 76.9%
  );
  color: antiquewhite;
  font-family: 'Playfair Display', 'sans-serif';
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: antiquewhite;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  color: black;
}

#pronouns {
  text-align: center;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
}

.quote {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding: 20px 15px 20px 15px;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
}

#about-me {
  text-align: center;
  margin-bottom: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  border-radius: 7.5%;
}

#blog-central {
  text-align: center;
  padding: 10px;
}

#sprint-2-tech-blog {
  text-align: left;
}

.tech-blog-img {
  margin-top: 15px;
  display: inline-block;
  width: 15%;
  border-radius: 7.5%;
}

.eq-iq {
  text-align: left;
  width: 100%;
}

ul {
  list-style-type: none;
}
